<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
<title>ADD employee</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>

<body>
	<div class="container ">
	 <h2>ADD employee</h2>
	 <hr>
	 <form action="#" th:action="@{/saveEmployee}" th:object="${emp}" method="post">
	 	<input type="text" th:field ="*{first_name}" placeholder="Employee First Name" class="form control mb-4 col-4"><br>
	 	<input type="text" th:field ="*{last_name}" placeholder="Employee Last Name" class="form control mb-4 col-4"><br>
	 	<input type="email" th:field ="*{email}" placeholder="Employee Email" class="form control mb-4 col-4"><br>
	 	<button type="submit" class="btn btn-info col-2">save</button>
	 </form>
		
	</div>
</body>
</html>